{% extends "submission/info-base.html" %}
{% block media %}
    <style>
        .line {
            position: relative;
        }

        .highlighter {
            position: absolute;
            width: 9999px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        a:active .line .highlighter {
            background: rgba(255, 212, 0, 0.48);
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <h2>Simulation id <a href="{{ url('submission_status', submission.id) }}">{{submission.id}}</a> of user <a href="{{ url('user_page', submission.user) }}">{{submission.user}}</a></h2>
    <br>
    <div id="submissions-table">
        {% set profile_id = request.profile.id if request.user.is_authenticated else 0 %}
        {% for submission in allsm %}
            <div class="submission-row" id="{{ submission.id }}">
                {% with problem_name=show_problem and submission.problem.i18n_name %}
                    {% include "submission/row-cusstom.html" %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}